<%#
This is an override of the GeoBlacklight (GBL) _show_header_default.html.erb file.
Blacklight (BL) also has this file, but is overridden by GBL, so we are
overriding based on GBL > BL.

https://github.com/geoblacklight/geoblacklight/blob/main/app/views/catalog/_show_header_default.html.erb

Switches from an h2 to an h1, for proper markup ordering (h1 always comes first).
%>

<h1 class="mb-2">
  <span itemprop="name"><%= document_presenter(document).heading %></span>
</h1>
<div class="ual-icons-wrapper">
  <div class="d-inline-flex bg-gray-100 px-1 py-2">
    <%= render partial: 'header_icons', locals: { document: document } %>
  </div>
</div>