<%# Origin: Custom

This is an custom template, not an override of Blacklight or GeoBlacklight.

Adds a Bootstrap "info" alert to the "show" view if a user abandoned the authentication & agreement process.
%>

<div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
  <strong><span class="material-icons-sharp">lock</span> Authentication required</strong>
  <p class="mb-0"><small>You must authenticate and accept the usage agreement in order to download this data item.</small></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>