<%# Origin: Custom

This is an custom template, not an override of Blacklight or GeoBlacklight.

Adds a Bootstrap "success" alert to the "show" view if a user has successfully authenticated & accepted the usage agreement.
%>

<div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
  <strong><span class="material-icons-sharp">check_circle</span> Success!</strong>
  <p class="mb-0"><small>Your download will begin shortly.</small></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>