<%# Origin: Custom

This is an custom template, not an override of Blacklight or GeoBlacklight.

Adds a Bootstrap callout to the "show" view whenever the user is viewing data that requires authentication to download that data.
%>

<div class="callout callout-sky my-2">
  <strong><span class="material-icons-sharp">lock</span> Data notice</strong>
  <p><small>This data belongs to a collection that is restricted to University of Arizona students, faculty, and staff. If you wish to download this data item, you will have to authenticate and agree to the usage agreement.</small></p>
</div>