<%# Origin: Custom

This is an custom template, not an override of Blacklight or GeoBlacklight.

Adds a Bootstrap "warning" alert to the "show" view if a user did not pass authentication.
%>

<div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
  <strong><span class="material-icons-sharp">lock</span> Not authorized</strong>
  <p class="mb-0"><small>You are not authorized to download this data item; this data is restricted to University of Arizona students, faculty, and staff.</small></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>