# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file for the repo
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,json,yml}]
charset = utf-8

# Defaults that seem fairly common
indent_style = space
indent_size = 2