<div id="appliedParams" class="clearfix constraints-container test-class">
  <%#= render 'start_over' %>
  <%= link_back_to_catalog class: 'btn btn-outline-blue' %>
  
  <a href="#" class="btn btn-outline-blue"><span class="material-icons-sharp">navigate_before</span><%= t('blacklight.back_to_search') %></a>
</div>