<header class="bg-red arizona-header" id="header_arizona">
  <div class="container">
    <div class="row">
      <a class="arizona-logo" href="http://www.arizona.edu" title="The University of Arizona homepage">
        <img class="arizona-line-logo" alt="The University of Arizona Wordmark Line Logo White" src="https://cdn.digital.arizona.edu/logos/v1.0.0/ua_wordmark_line_logo_white_rgb.min.svg"/>
      </a>
    </div>
  </div>
</header>