<%#
This is an custom template, not an override of GeoBlacklight
or Blacklight components. Attached in base.html.erb.
%>
<footer class="footer mt-auto bg-cool-gray py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9">
        <p>&copy;2024 The Arizona Board of Regents on behalf of <a href="https://www.arizona.edu/">The University of Arizona.</a><br />Main Library | 1510 E. University Blvd. Tucson, AZ 85721</p>
        <p class="mb-0"><a href="https://lib.arizona.edu/contact" class="btn btn-red" target="_blank">Contact Us</a></p>
      </div>
      <div class="col-12 col-lg-3 text-lg-right mt-5 mt-lg-0">
        <div id="geoblacklight-version">
          <a href="https://geoblacklight.org/" target="_blank"><%= image_tag("geoblacklight-logo.png", alt: "GeoBlacklight", width: "175") %></a><br />
        </div>
      </div>
    </div>
  </div>
</footer>