# Shibboleth Authentication
<IfModule mod_shib>
    <If "%{REQUEST_URI} =~ m#^/users/auth/shibd/callback(/.*)?$#">
        AuthType shibboleth
        ShibRequestSetting requireSession 1
        Require valid-user
    </If>
</IfModule>