<%# Origin: https://github.com/geoblacklight/geoblacklight/blob/v4.4.0/app/views/shared/_header_navbar.html.erb

Overrides GeoBlacklight's view partial _header_navbar.html.erb to add UAL and UA branding for the site header/navbar.
Modified to conditionally display the search bar (we display it less than vanilla GeoBlacklight does).
%>
<div class="bg-cool-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 py-2">
        <a href="https://lib.arizona.edu/"><%= image_tag("ual_logo.svg", alt: "University of Arizona Libraries | GeoBlacklight Home", width: "250") %></a>
      </div>
    </div>
  </div>
</div>
<div class="bg-blue py-4 mb-5">
  <div class="<%= container_classes %>">
    <div class="row">
      <nav class="navbar navbar-dark navbar-expand-lg w-100" role="navigation">
        <a href="<%= root_path %>" class="h2 text-decoration-none font-weight-normal my-0">Geospatial Data Repository</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#geospatialNavbar" aria-controls="geospatialNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-icons-sharp"> menu </span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="geospatialNavbar">
          <ul class="navbar-nav mt-3 mt-lg-0">
            <%= render "shared/user_util_links" %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
