<%# Origin: Custom

This is an custom template, not an override of Blacklight or GeoBlacklight. Loaded/called in base.html.erb.

Adds the UA & UAL branding to the footer.
%>

<footer class="footer mt-auto bg-cool-gray py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9">
        <a class="d-inline-block mb-3" href="https://lib.arizona.edu/"><%= image_tag("ual_logo_uarizona.png", alt: "University of Arizona Libraries", width: "250") %></a>
        <p><strong>Main Library</strong><br />1510 E. University Blvd. Tucson, AZ 85721</p>
        <p><a href="https://data.library.arizona.edu/person/garrett-smith" target="_blank" class="btn btn-sm btn-blue">Contact Us</a></p>
      </div>
      <div class="col-12 col-lg-3 text-lg-right mt-5 mt-lg-0">
        <div id="geoblacklight-version">
          <a href="https://geoblacklight.org/" target="_blank"><%= image_tag("geoblacklight-logo.png", alt: "GeoBlacklight", width: "175") %></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
        <p class="text-center"><small>&copy;2025 The Arizona Board of Regents on behalf of <a href="https://www.arizona.edu/">The University of Arizona.</a></small></p>
      </div>
    </div>
  </div>
</footer>