<%#  Origin: https://github.com/projectblacklight/blacklight/blob/v7.37.0/app/views/catalog/_search_results_header.html.erb

Overrides Blacklight's view partial _search_results_header.html.erb to make the search results' h1 visible instead of hidden.
%>

<h1 class="top-content-title mt-0"><%= t('blacklight.search.header') %></h1>