<%#  Origin: https://github.com/geoblacklight/geoblacklight/blob/v4.4.3/app/views/catalog/_show_default_viewer_information.html.erb

Overrides GeoBlacklight's view partial _show_default_viewer_information.html.erb to prevent rendering if the document is a
restricted indexmap that requires a PAG agreement.
%>
<div class='row'>
  <div class='viewer-information col-sm-12'>
  </div>
</div>