<%#  Origin: https://github.com/geoblacklight/geoblacklight/blob/v4.4.3/app/views/catalog/_show_default_viewer_information.html.erb

Overrides GeoBlacklight's view partial _show_default_viewer_information.html.erb to prevent rendering if the document is a
restricted indexmap that requires a PAG agreement.
%>
<% if document.direct_download.nil? %>
  <% if document.restricted? %>
    <% if current_user && has_submitted_pag_agreement %>
      <div class='row'>
        <div class='viewer-information'>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>