<%#  Origin: https://github.com/geoblacklight/geoblacklight/blob/v4.4.0/app/views/catalog/_show_downloads.html.erb

Overrides GeoBlacklight's view partial _show_downloads.html.erb to add AZ Bootstrap classes and appropriate markup for a dropdown component.
%>

<% document ||= @document %>

<% if document_downloadable? && has_submitted_pag_agreement %>
  <% if document.direct_download.present? || document.hgl_download.present? || document.iiif_download.present? || document.download_types.present? %>
    <div class="downloads-sidebar">
      <div class="dropdown">
        <button type="button" class="btn btn-blue dropdown-toggle sidebar-btn" id="downloads-button" data-toggle="dropdown" aria-expanded="false">Download</button>
        <div class="dropdown-menu" id="downloads-collapse" aria-labelledby="downloads-button">
          <%= render 'downloads_collapse' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% if document.restricted? && document.same_institution? && !has_submitted_pag_agreement %>
  <div class="card authentication border-0">
    <div class="callout callout-sky my-2">
      <strong><span class="material-icons-sharp">lock</span> Data notice</strong>
      <p><small>This data belongs to a collection that is restricted to University of Arizona students, faculty, and staff. If you wish to download this data item, you must log in and agree to the usage agreement.</small></p>
      <%= link_to t('geoblacklight.tools.login_to_view'), user_shibd_omniauth_authorize_path(referrer: request.original_url), method: :post, class: ['btn', 'btn-blue', 'btn-block'] %>
    </div>
  </div>
<% end %>