<%#  Origin: https://github.com/geoblacklight/geoblacklight/blob/v4.4.0/app/views/catalog/_show_header_default.html.erb

Overrides GeoBlacklight's view partial _show_header_default.html.erb to add proper heading ordering (h1 first) and improve appearance of header icons.
%>

<h1 class="mb-2">
  <span itemprop="name"><%= document_presenter(document).heading %></span>
</h1>
<div class="ual-icons-wrapper">
  <div class="d-inline-flex bg-gray-100 px-1 py-2">
    <%= render partial: 'header_icons', locals: { document: document } %>
  </div>
</div>