<%#  Origin: https://github.com/projectblacklight/blacklight/blob/v7.37.0/app/views/catalog/show.html.erb

Overrides Blacklight's view show.html.erb to change the ordering and styling of the start over and back buttons.
Builds the "landing page" (Rails' default "show" behavior) for each document in the Solr index.
%>

<% if current_search_session %>
  <div id="appliedParams" class="clearfix constraints-container">
    <%= ual_link_back_to_catalog class: 'btn btn-blue' %>
    <%= render 'start_over' %>
  </div>
<% end %>

<%= render 'show_main_content' %>

<% content_for(:sidebar) do %>
  <%= render_document_sidebar_partial @document %>
<% end %>