/** AZ Bootstrap Re-Definitions
 * Re-defining some AZ Bootstrap classes so we can extend them to overcome hard-coded CSS defined by GeoBlacklight
 */

.btn {
  text-transform: none !important;   // <-- Temporary fix until we upgrade AZ Bootstrap
  letter-spacing: 0.5px;
  border: 2px solid transparent;
 }
.btn-blue {
  color: #ffffff;
  background-color: #0c234b;
  border-color: transparent;

  &:hover {
    background-color: #1e5288;
  }
}
.btn-red {
  color: #ffffff;
  background-color: #8b0015;
  border-color: transparent;

  &:hover {
    background-color: #ab0520;
  }
}



/**
 * Bootstrap Overrides (to match AZBS)
 */
.card {
  border-radius: 0;
}
.card-header:first-child {
  border-radius: 0px;
}
.show-tools .list-group .list-group-item {
  border: 1px solid rgba(0,0,0,.125);
  border-width: 0 0 1px;
}

// Couldn't get the class directly on the a tag, so this is a workaround
.downloads-sidebar {
  .dropdown-item {
    padding: 0;
  }
  .dropdown-item a {
    color: #ffffff;
    text-decoration: none;
    padding: .25rem 1.5rem;
    display: block;
  
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

/**
 * Facets
 */

// Remove whitespace added by AZBS headings (in facet context)
#facets {
  .card {
    .card-header {
      margin: 0;
    }
  }

  // Remove uppercase style
  .facets-collapse .btn {
    text-transform: none;
  }

  .facets-header {
    align-items: center;
  }
}
#ual_facet_top {
  .pagination {
    display: none;
  }
}
#ual_facet_bottom {
  .sort-options {
    display: none;
  }
}

/**
 * Documents (search results)
 */

 #documents {
  // Make spacing consistent
  .document {
    padding: 1rem 0;
    margin: 0;
  }
  // Remove whitespace added by AZBS headings (in documents context)
  .index_title {
    margin: 0;
  }
}

#document {
  // Fix index map key alignment
  .index-map-legend {
    position: relative;
    right: initial;
    top: initial;
    left: initial;

    .index-map-legend-info:first-of-type {
      margin-left: 0px;
    }
  }

  // Fix index map tile information alignment
  .viewer-information {
    .index-map-info {
      .col-sm-12 {
        padding: 0px;
      }
    }
  }
}

#appliedParams {
  .applied-filter {
    // Hover effects make experience confusing when you can't click the button
    .constraint-value:hover,
    .constraint-value:active {
      background-color: #dee2e6;
      border-color: #dee2e6;
      color: inherit;
    }

    .remove:hover,
    .remove:active {
      // Reset hard-coded GBL styles
      background-color: rgb(158, 155, 150);
      border-color: rgb(155, 151, 145);
      color: rgb(43, 46, 48);
    }
  }
}

/**
 * Document (single item)
 */
#document {
  // Ensure longer words (i.e., URLs) don't break the page layout on smaller breakpoints
  .document-metadata dt,
  .document-metadata dd {
    word-break: break-word;
    word-wrap: break-word;
  }

  #map {
    margin: 2rem 0;
  }
  #viewer-container {
    margin: 0;
  }

  .blacklight-icons svg{
    height: 1.5rem;
    width: 1.5rem;
  }

  .blacklight-icons,
  .icon-missing {
    height: auto;
    width: auto;
    padding: 0 0.6rem;
  }
}


/**
 * Pagination
 */
.pagination-search-widgets {
  border: {
    width: 1px 0 0 0;
    style: solid;
    color: #dee2e6;
  } 
  margin: 3rem 0 0 0;
  padding: 3rem 0 0 0;
}


/**
 * Homepage
 */

#main-container .category-block {
   min-height: auto !important;
}
.ual-card .category-icon .blacklight-icons svg {
  top: 0;  
}

@media screen and (max-width: 991px) {
  .ual-card .category-icon .blacklight-icons {
    height: 4rem;
  }
}

/**
 * Reset hard-coded CSS
 */ 
.authentication .card-header a, .authentication .list-group .list-group-item a {
  @extend .btn-blue;
}