<%= form_with url: pag_submit_agreement_path(path: params[:path]), method: :post do |form| %>
  <div class="row">
    <div class="col-12">
      <h1>Accessing licensed data</h1>
      <p>In order to download this data item, you must read and agree to the following:</p>
      <p><strong>By clicking "Agree" below, I acknowledge that I will not redistribute any of the Pima Association of Governments (PAG) data contained in this dataset to any other individual or organization.</strong></p>
    </div>
    <div class="col-12">
      <%= form.submit "Agree", class:"btn btn-red" %>
      <%= form.submit "Cancel", class:"btn btn-outline-blue" %>
    </div>
  </div>
<% end %>
