 <div class="row">
  <div class="col-12">
    <h1>Accessing licensed data</h1>
    <p>In order to download this data item, you must read and agree to the following:</p>
    <p>By clicking "Agree" below, I acknowledge that I will not redistribute any of the Pima Association of Governments (PAG) data contained in this dataset to any other individual or organization.</p>
    <p><small><em>Your agreement is single-use; you must agree to the terms for each restricted data item that you would like to download.</em></small></p>
  </div>
  <div class="col-12">
    <button type="button" class="btn btn-red" id="pag_agree">Agree</button>
    <button type="button" class="btn btn-outline-blue">Cancel</button>
  </div>
</div>